
body{
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login{
    display: flex;
    background-color: aqua;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.logInForm{
    width: 50%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 5px  black;
    background-color: white;
    padding: 20px;
}
.editForm{
    width: 80%;
    
}
input{
    display: block;
    margin: 5px 0 20px 0;
    width: 100%;
    height: 30px;
}
textarea{
    display: block;
    margin: 5px 0 20px 0;
    width: 100%;
}
h1{
    text-align: center;
}
.logInBtn{
    display: block;
    padding: 5px;
    background-color: green;
    color: white;
    width: 100%;
    border-radius: 4px;
}
.logInBtn:hover{
    background-color: blue;
}
.text-red{
    color: red;
}
